* { margin:0; padding:0; box-sizing: border-box; }
body { font-family: Inter, sans-serif; font-size: 16px }
.page { width:100dvw; height: 100dvh; display: flex; place-content: center; place-items: center; background-color: #000; color: #eee }
.image-slider { position: relative; box-shadow: 0 0 8px 8px #9996; width: 100%; height: 100%; overflow: hidden; overflow-y: auto; border-radius: 1rem }
.image-slider section { position: absolute; visibility: collapse;}
.image-slider section .img { display: block; width:100%; height: 100%; object-fit: cover; user-select: none; pointer-events: none; }
.image-slider section .title { position: absolute; top: 0; background-image: linear-gradient(45deg, black, transparent); width: 100%; padding: 0.75rem 1rem; color: white; font-weight: bold; }
.image-slider section .details { font-size: 0.8rem; line-height: 1.2rem; margin: 1rem; opacity: 0.75;}

.image-slider::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background-color: transparent;
}

.slideLeft { animation: slide-in 300ms ease-in-out forwards; }

@keyframes slide-in {
    from { transform: translateX(100%); opacity: 0; visibility: collapse;}
    to { transform: translateX(0); opacity: 1; visibility: visible;}
}

.slideRight { animation: slide-out 300ms ease-in-out forwards; }

@keyframes slide-out {
    from { transform: translateX(-100%); opacity: 0; visibility: collapse;}
    to { transform: translateX(0); opacity: 1; visibility: visible;}
}